{% extends "base.html" %}
{% block content %}
<div class="main">


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            <table  align="center" cellpadding="0" cellspacing="0" width="100%"  >
                {% for category, message in messages %}
                    <tr><td class="{{ category }}">
                           <div class="{{ category }}">  {{ message }} </div>
                    </td></tr>
               {% endfor %}
            </table>

        {% endif %}
    {% endwith %}

    <table  border="0" align="center"  cellpadding="0" cellspacing="0" width="100%" align="right" >
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td align="left" width="25%">&nbsp;</td>
            <td align="left" width ="65%" > <left_title>Relative conservation of protein residues
            </left_title>  </td>
            <td >&nbsp;</td>
        </tr>
    </table>

    {% set url_help  = url_for('help.help_index', _anchor='input') %}

    <form  enctype="multipart/form-data" method="post" name="consform">
        <table border="0" align="center"  cellpadding="0" cellspacing="0" width="90%" align="right">

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="left" width="25%"> <a title="The results will be reported only for the positions that exist in this sequence.
	                     If no reference sequence is given, the first sequence in the alignment will be used."
                                                 href="{{ url_help }}">
                    The name of the reference sequence</a> [optional]</td>
                <td align="left" width="35%">
                    <input name="qry_nm" type="text" size="15"> </td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="left" width="25%">
                    {% set url_getseqs  = url_for('help.getting_seqs') %}
                    <a title='A file containing input sequences - presumably all
	                   <a href="http://en.wikipedia.org/wiki/Homology_%28biology%29#Sequence_homology">homologous</a>
	                   to each other.  <a href="{{ url_getseqs }}">Click here</a> to read about finding interesting sequences.'
                       href="{{ url_help }}">
                    File with a list of sequences</a>
                    <br>[in GCG or FASTA format]</td>
                <td align="left" width="35%">
                    <input  type="file" name="fnm" size="15">
                    <br> examples: <a href="{{ url_for('static', filename='samples/fasta_example.txt') }}">FASTA</a> &nbsp;
                                    <a href="{{ url_for('static', filename='samples/gcg_example.txt') }}">GCG</a>
                </td>
                <td align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="aligned" value=1>
                    <span title="Tick here if you do not want  the server to (re)align your set of sequences.">
		        Already aligned?</span></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                {% set url_pymol = url_for('help.pymol_output') %}
                {% set url_structure = url_for('help.getting_structure') %}
                <td align="left" width="25%"><a title="PDB file with structure of reference sequence.
                    	A <a href='{{ url_pymol }}'>PyMol session</a>
                        will be generated showing the levels of conservation
	                    on the structure. <a href='{{ url_structure }}'>Click here</a>
	                    if you are not sure where to look for the structure."
                         href={{ url_help }}>Structure file</a><br>[optional]</td>
                <td align="left" width="35%"><input  type="file" name="structure_fnm" size="15"> </td>
                <td align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chain <input type="text" name="chain" size="1" value ="-"></td>
            </tr>



            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="left" width="25%"> <a title="Conservation scoring method."
                                                 href="{{ url_for('help.help_index', _anchor='refs')}}">Method</a></td>
                <td align="left" width="35%">
                    <select name="method">
                        <option value="rvet">   real-valued ET  </option>
                        <option value="entr">   Shannon entropy  </option>
                        <option value="maj">    majority fraction   </option>
                        <option value="valdar"> Valdar </option>
                        <option value="ivet">   integer-valued ET</option>
                        <option value="rvet_s"> rvET    with similarity</option>
                        <option value="entr_s"> entropy with similarity</option>
                        <option value="iv_s">   ivET with similarity</option>
                        <option value="maj_s">  majority  fraction with similarity</option>
                    </select></td>
                <td align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{  url_for('help.cons_examples') }}">worked examples</a>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                <td width="20%" align="left"> <input type ="submit" name="sub" value="submit" onclick="return submitform(specsform)"> </td>
                <td width="20%" align="left"> <input type ="reset"  name ="reset" value = "clear"></td>
                <td align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{  url_for('help.help_index', _anchor='citing') }}">how to cite</a> </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr> <td colspan="3"> <hr> </td> </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                <td align="left">  <input type="button" name="addanno"
                                          title="Contribute your own annotation, using numbering in any sequence you have provided.
                             It will be added to the
			    <a href='http://cube.local/help/xls_output.html#cons'>spreadsheet</a> Cube produces."
                                          value="Add annotation"
                                          onclick=toggleA(this)>
                    <input id="anno" type="hidden"
                           name="anno" value="0">
                </td>

                <td>&nbsp;</td>

                <td align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="addrows" id="ar"
                                                                       value="Add row" onclick=moreFields() disabled="true">
                </td>
            </tr>

            <tr class="annotations">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr class="annotations">
                <th align="left" title="For long names <a href='help/help.html#names'>check here</a>.">Sequence name
                </th>
                <th align="left" title="Example: 45-56, 83, 115">
                    Position(s)
                </th>
                <th align="left" title="Almost anything can be processed, but please<br>try to stay away from special characters.">Annotation</th>
            </tr>

            <tr class="annotations">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr class="annotations">
                <td align="left"><span id="writeroot"></span></td>
                <td align="left"><span id="writeroot_range"></span></td>
                <td align="left"><span id="writeroot_inf"></span></td>
            </tr>


            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td width="20%" align="left"> <input type="submit" name="sub" value="submit" onclick="return submitform(specsform)"> </td>
                <td width="20%" align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

       </table>
    </form>
</div>



{% endblock content %}
