{% extends "base.html" %}
{% block content %}

<div class="main">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            <table  align="center" cellpadding="0" cellspacing="0" width="100%"  >
                {% for category, message in messages %}
                    <tr><td class="{{ category }}">
                           <div class="{{ category }}">  {{ message }} </div>
                    </td></tr>
               {% endfor %}
            </table>

        {% endif %}
    {% endwith %}

    <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td align="left" width="25%">&nbsp;</td>
            <td align="left" width="65%"><left_title>Between-group specialization of protein residues</left_title></td>
            <td >&nbsp;</td>
        </tr>
    </table>

    {% set url_help   = url_for('help.help_index', _anchor='input') %}
    {% set url_fasta  = url_for('help.help_index', _anchor='names') %}

    <form  enctype="multipart/form-data" method="post" name="specform">
        <table border="0" align="center" cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="left" width="25%"> <a title= "The results will be reported only for the positions that exist in this sequence.
	                     If no reference sequence is given, the first sequence in the first alignment will be used." href="{{ url_help }}">
                    The name of the reference sequence</a> [optional]</td>
                <td align="left" width="35%"> <input name="qry_nm" type="text" size="15"> </td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>

            <tr>
                <td align="left" width="25%">
                    {% set url_getseqs  = url_for('help.input', input_type='sequences') %}

                    <a title='Each group that you would like to contrast  should be in a separate fasta file.
	                         <a href="{{ url_getseqs }}">Click here</a> if you do not have the  sequences yet.
					         <a href="{{ url_fasta }}">Read more</a> about FASTA format.'
                       href="{{ url_help }}">Sequence files</a> (2 or more)
                    <br>[in GCG or FASTA format]
                </td>
                <td align="left" width="35%">
                    <input  type="file" name="fnms" size="15" multiple="multiple"
                    title="To select multiple files, Ctrl-Click each file or drag over them.">
                    <br> examples: <a href="{{ url_for('static', filename='samples/fasta_example.txt') }}">FASTA</a> &nbsp;
                                    <a href="{{ url_for('static', filename='samples/gcg_example.txt') }}">GCG</a>
                </td>


                <td align="left"> <input type="checkbox" name="aligned" value=1>
                    <span title="Tick here if you do not want  the server to (re)align your set of sequences.">
	                    Already aligned?</span></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                {% set url_pymol = url_for('help.output', output_type='pymol') %}
                {% set url_structure = url_for('help.input', input_type='structure') %}
                <td align="left" width="25%"><a title="PDB file with structure of reference sequence.
                    	A <a href='{{ url_pymol }}'>PyMol session</a>
                        will be generated showing the levels of specialization
	                    on the structure. <a href='{{ url_structure }}'>Click here</a>
	                    if you are not sure where to look for the structure."
                                                href={{ url_help }}>Structure file</a><br>[optional]</td>

                <td align="left" width="35%"><input type="file" name="structure_fnm" size="15"></td>
                <td align="left"> &nbsp;<a title="Please provide the chain identifier if the PDB file contains more than one chain.">
                    Chain</a>
                    <input type="text" name="chain" size="1" value ="A"></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="left" width="20%">
                    <a title="Specialization scoring method."
					   href="{{ url_for('help.help_index', _anchor='refs')}}">Method</a></td>
                <td align="left" width="20%"><select name="method">
                    <option value="cube">   cube  </option>
                    <option value="cube_sim">   cube with similarity </option>
                </select></td>
                <td align="left" >&nbsp;&nbsp;<a href="{{ url_for('help.spec_examples_intro') }}">worked examples</a> </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                <td width="20%" align="left"> <input type="submit" name="sub" value="submit" onclick="return submitform(specsform)"> </td>
                <td width="20%" align="left"> <input type = "reset" name ="reset" value = "clear"></td>
                <td align="left" >&nbsp;
                    <a href="{{ url_for('help.help_index', _anchor='citing')}} ">how to cite</a> </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr> <td colspan="3"> <hr> </td> </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                {% set url_xls_help  = url_for('help.output', output_type='xls', _anchor='spec') %}
                <td align="left">  <input type="button" name="addanno"
                                          title='Contribute your own annotation, using numbering in any sequence you have provided.
                                           It will be added to the <a href={{url_xls_help}}>spreadsheet</a> Cube produces.'
                                          value="Add annotation"
                                          onclick=toggleA(this)>
                    <input id="anno" type="hidden" name="anno" value="0">
                </td>

                <td>&nbsp;</td>

                <td align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="addrows" id="ar"
                                                                       value="Add row" onclick=moreFields() disabled="true">
                </td>
            </tr>

            <tr class="annotations">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr class="annotations">
                {% set url_names  = url_for('help.help_index', _anchor='names') %}
                <th align="left" title='For long names <a href={{url_names}}>check here</a>.'>Sequence name
                </th>
                <th align="left" title="Example: 45-56, 83, 115">
                    Position(s)
                </th>
                <th align="left" title="Almost anything can be processed.<br>Try to stay away from special characters.">Annotation</th>
            </tr>

            <tr class="annotations">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr class="annotations">
                <td align="left"><span id="writeroot"></span></td>
                <td align="left"><span id="writeroot_range"></span></td>
                <td align="left"><span id="writeroot_inf"></span></td>
            </tr>


            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td width="20%" align="left"> <input type="submit" name="sub" value="submit" onclick="return submitform(specsform)"> </td>
                <td width="20%" align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        </table>
    </form>
</div>


{% endblock content %}
